body{
    margin:0;
    border:0;
    font-family: 'tahoma', 'arial';

}
.logo {
    width: 12%;
    margin-left: 5;
    }
    header{
        background-color: rgb(179, 179, 179);
    }
    .divHeader{
        position: relative;
        margin: auto;
    }
    nav{
        position: absolute;
        top: 15px;
        right: 10;
    }
    nav li{
        display: inline;
        color:black;
        font-size: 20;
        margin-right: 15;
       
    }
    .banner{
       position:absolute;
       
       
        
        
        

    }
